html, body {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    background-color: #b9c9dc;
    text-align: center;
}


/* 主页 */
.header {
    margin:0 auto;
    color: #355d63;
}

.search_box input {
    background: url(../static/search.png) no-repeat;
    background-position: 3px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
    height: 26px;
    width: 200px;
    padding-left: 25px;
    margin-right: -8px;
    margin-top: -10px;
    outline: none;
}

.map_box {
    height: 100%;
    /* background-color: #b1c9f0; */
}

.map {
    height:100%;
    width: 100%;
    background-color: #b9c9dc;
}

.ocean {
    font-size: 20px;
    color: #44858f;
}

.country {
    fill: #efedea;
    stroke: white;
    stroke-width: 0.5px;
}
  
.country:hover {
    fill: #decdc6;
    cursor: pointer;
}


/* 地区页面 */
.tree_box {
    height: 100%;
    /* background-color: #b1c9f0; */
    background-color: #D8E3EC;
}

.tree {
    height:100%;
    width: 100%;
    background-color: #dce7fa;
}

/* path {
    fill: None;
    stroke: #397ded;
} */
.line {
    fill: None;
    stroke: #397ded;
}

.writer text {
    font-size: small;
    /* color: #35525A; */
    color: white;
}