<!DOCTYPE html>
<html>

<head>
    <title>{{ region }} Literature</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="tree_box">
        <!-- <script src="../static/home.js"></script> -->
    </div>
    <script src="../static/d3.js"></script>
    <script src="../static/d3.min.js"></script>
    <script src="../static/topojson.min.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        var margin = { top: 20, right: 90, bottom: 30, left: 90 },
            width = 1536 - margin.left - margin.right,
            height = 721 - margin.top - margin.bottom;
        var radius = 200;
        var i = 0;

        const svg = d3.select('.tree_box').append('svg')
                        .attr("class", "tree")
                        .attr("height", height + margin.top + margin.bottom)
                        .attr("width", width + margin.right + margin.left)
        var g = svg.append('g')
                        .attr("transform", "translate(" + (width / 2 + 70) + "," + (height / 2 + 40) + ")");

        var tree = d3.tree()
            .size([2 * Math.PI, radius])
            .separation((a, b) => (a.parent == b.parent ? 1 : 2) / a.depth)

        var data = '{{ data }}';
        data = data.split("&#34").join("\"");
        data = data.split(";").join("");
        // console.log(data);
        const json_data = JSON.parse(data);
        console.log(json_data);

        var stratify = d3.stratify()
            .parentId(function (d) { return d.id.substring(0, d.id.lastIndexOf(".")); });

        var root = tree(d3.hierarchy(json_data));
        // console.log(root);

        var link = g.selectAll(".link")
            .data(root.links())
            .enter().append("line")
            .attr("class", "link")
                .attr("stroke", "#143948")
                .attr('stroke-width', '2px')
                .style("stroke-dasharray", ("5, 5"))
            .attr("x1", function(d) { return radialPoint(d.source.x,d.source.y)[0]; })
            .attr("y1", function(d) { return radialPoint(d.source.x,d.source.y)[1]; })
                .attr("x2", function(d) { return radialPoint(d.target.x,d.target.y)[0]; })
                .attr("y2", function(d) { return radialPoint(d.target.x,d.target.y)[1]; });
            // .attr("d", d3.linkRadial()
            //     .angle(function (d) { return d.x; })
            //     .radius(function (d) { return d.y; }));
        
        // node颜色渐变
        var myColor = d3.scaleLinear().domain([1, 10])
                            .range(["#B6CFD5", "#00272D"]);

        var node = g.selectAll("node")
            .data(root.descendants())
            .enter().append("g")
            .attr("class", "node")
            .attr("transform", function (d) { return "translate(" + radialPoint(d.x, d.y) + ")"; })

        node.append("circle")
                .attr("class", function (d) { return "node" + (d.depth == 0 ? "_region" : "_period"); })
                .attr("fill", function(d) { return d.depth == 0 ? "white" : myColor(i++); })
                .attr("x", -6)
                .attr("y", -6)
                .attr("r", 60)
                .attr("transform", function(d) { return "rotate(" + (d.x < Math.PI ? d.x - Math.PI / 2 : d.x + Math.PI / 2) * 180 / Math.PI + ")"; })
            
        node.append("text")
            .attr("dy", "0.31em")
            .attr("x", function (d) { return d.x < Math.PI === !d.children ? 6 : -6; })
            .attr("text-anchor", function (d) { return d.x < Math.PI === !d.children ? "start" : "end"; })
            .attr("transform", function (d) { 
                    console.log(d);
                    if (!d.depth) {
                        return "translate( -" + d.data.name.length * 10.5 + ", 0)";
                    } else {
                        // console.log(d.x < Math.PI ? -30 : 30);
                        var offset = d.x < Math.PI ? -30 : 30;
                        return "translate( " + offset + ", 0)";
                    }
                    // return "rotate(" + (d.x < Math.PI ? d.x - Math.PI / 2 : d.x + Math.PI / 2) * 180 / Math.PI + ")"; 
                })
            .text(function (d) { return d.data.name; })
        
        d3.selectAll('.node_period')
            .on("mouseover", handleMouseOver)
            .on("mouseout", handleMouseOut)
            .on("click", handleClick);
            

        function radialPoint(x, y) {
            return [(y = +y) * Math.cos(x -= Math.PI / 2), y * Math.sin(x)];
        }

        function handleMouseOver(d, i) {
            d3.select(this) 
                .style('cursor', 'pointer')
                .attr('fill', '#d8e5e8');
        }

        function handleMouseOut(d, i) {
            d3.select(this) 
                .style('cursor', 'default')
                .attr('fill', myColor(i))
        }

        function handleClick(d, i) {
            console.log("jump!")
            var period = d.data.name
            $.ajax({
                url: '/region/' + '{{ region }}',
                data: period,
                type: 'POST',
                success: function (response) {
                    console.log(response)
                    window.location.replace(response.redirect);
                    console.log('succeed!')
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
    </script>
</body>

</html>